* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Avenir', sans-serif;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.hero__content {
  position: relative;
  margin-top: 130px;
  max-width: 645px;
}

.hero__title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
}

.hero__description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  margin: 30px 0 50px;
  max-width: 380px;
}

.hero__btn {
  background: #9c69e2;
  border-radius: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  padding: 16px 37px;
  text-decoration: none;
  transition: 0.3s;
  border: 2px solid #9c69e2;
}

.hero__btn:hover {
  background: #fff;
  color: #9c69e2;
}

.hero__img {
  position: absolute;
  right: -665px;
  top: 50px;
}

.header {
  padding-top: 60px;
}

.header__row {
  display: flex;
}

.header__nav {
  margin-left: 121px;
}

.header__menu {
  display: flex;
}

.header__item {
  list-style: none;
  margin-right: 40px;
}

.header__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #212353;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
}

.header__link:hover {
  opacity: 0.8;
}

.header__link.active {
  font-weight: 700;
}

.header__button {
  position: relative;
  font-weight: 700;
  white-space: nowrap;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  margin-left: 420px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 17px 65px 17px 29px;
  transition: 0.3s;
}

.header__button::before {
  position: absolute;
  content: '';
  top: 17px;
  right: 29px;
  width: 23px;
  height: 17px;
  background: url(../images/arrow.svg) no-repeat;
}

.header__button:hover {
  background-color: #000;
  color: #fff;
}

.about {
  padding-top: 196px;
  padding-bottom: 116px;
}

.about__content {
  display: flex;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  padding: 0 66px;
}

.about__column {
  width: 50%;
}

.about__title {
  margin-top: 128px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.about__description {
  margin-top: 40px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}

.features__title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #212353;
}

.features__description {
  text-align: center;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  max-width: 584px;
  margin: 50px auto 0;
}

.features__content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}

.features__column {
  position: relative;
  width: 50%;
}

.features__item {
  padding-top: 50px;
  padding-left: 172px;
  width: 442px;
  height: 358px;
}

.features__item svg {
  position: absolute;;
  left: 0;
  bottom: 40px;
  z-index: -1;
}

.svg-path-1 {
  position: relative;
  transform: translate(-40%, 50%);
  fill: #9c69e2;
  transition: 0.5s;
  animation: rashida 3s infinite alternate;
}

.svg-path-2 {
  opacity: 0.1;
  transition: 0.4s;
}

.features__item:hover * {
  color: #fff;
}

.features__item:hover .svg-path-1 {
  animation: rashida 3s infinite alternate;
}

@keyframes rashida {
  0% {
    transform: translate(-130%, -50%) scale(3);
  }
  100% {
    transform: translate(-130%, -50%) scale(5) !important;
  }
}

.features__item:hover .svg-path-2 {
  opacity: 0.5;
}

.features__item-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.features__item-description {
  margin: 20px 0;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  max-width: 200px;
}

.features__item-link {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}
